################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample.Blazor/bin/Debug/netcoreapp3.0
/Sample.Blazor/obj
/.vs
/Sample.Blazor/bin/Debug/netcoreapp3.1
