@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @name
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{ 
    private string name;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        name = authState.User.Claims.FirstOrDefault(c=> c.Type == "name")?.Value;
    }
}
